@page
@model BaistClub.Pages.ViewMemberModel
@{
}
<div>
    <h3>LoginID</h3>
    @Html.Raw(Model.LoginID)
</div>
<div>
    <h3>Name</h3>
    @Html.Raw(Model.Name)
</div>
<div>
    <h3>Class</h3>
    @Html.Raw(Model.Class)
</div>
